/* Estilo para o corpo da página no modo escuro com melhor contraste */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212; /* Fundo escuro */
  color: #fff; /* Texto claro */
}

/* Container flex para organizar a barra lateral e o conteúdo principal */
.container {
  display: flex;
  align-items: flex-start;
  margin: 20px;
}

/* Estilo da barra lateral no modo escuro com melhor contraste */
.sidebar {
  width: 300px;
  background-color: #1e1e1e; /* Fundo da barra lateral escuro */
  color: #fff;
  padding: 20px;
  position: sticky;
  top: 0;
  height: 100%;
  text-align: center; /* Centraliza o conteúdo */
}

/* Estilo da foto de perfil */
.user-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block; /* Remove margens brancas ao redor da imagem */
  margin: 0 auto; /* Centraliza a imagem horizontalmente */
  margin-bottom: 10px;
}

/* Estilo para o nome do usuário com melhor contraste */
.user-info h1 {
  font-size: 1.5rem;
  color: #0078d4; /* Azul para destaque */
}

/* Estilo para a lista de contatos */
.contacts ul {
  list-style: none;
  padding: 0;
}

.contacts a {
  text-decoration: none;
  color: #0078d4; /* Azul para links de contato */
  display: block;
  margin-bottom: 10px;
}

/* Estilo para a lista de competências com melhor contraste */
.skills ul {
  list-style: none;
  padding: 0;
}

.skills li {
  background-color: #1e1e1e; /* Fundo das competências escuras */
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.skills li:first-child {
  margin-top: 10px;
}

/* Estilo do conteúdo principal */
.main-content {
  margin-left: 20px;
  padding: 20px;
  flex-grow: 1;
  background-color: #1a1a1a; /* Fundo do conteúdo principal escuro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Estilo das seções "Experiências" e "Projetos" */
.experience, .project {
  background-color: #1e1e1e; /* Fundo das seções escuras */
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Estilo para os títulos das experiências e projetos com melhor contraste */
.experience h3, .project h3 {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 10px;
  color: #0078d4; /* Azul para destaque */
}

/* Estilo para os parágrafos das experiências e projetos com melhor contraste */
.experience p, .project p {
  font-size: 0.9rem;
  margin-bottom: 10px;
  line-height: 1.4;
}

/* Estilo para os links dos projetos com melhor contraste */
.project a {
  text-decoration: none;
  color: #0078d4; /* Cor azul típica de links do GitHub */
}

/* Estilo para os botões com melhor contraste */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0078d4;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
}

.button:hover {
  background-color: #005d9e;
}
